<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhonghuass.ssml">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.LogInActivity" />
        <activity android:name=".mvp.ui.activity.GuideActivity" />
        <activity android:name=".mvp.ui.activity.WelcomeActivity" />
        <activity android:name=".mvp.ui.activity.RegisterActivity" />
        <activity android:name=".mvp.ui.activity.MSMQActivity" />

        <meta-data
            android:name="zhonghuass.ssml.utils.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name=".mvp.ui.activity.MySettingActivity" />
        <activity android:name=".mvp.ui.activity.MyAccountInfoActivity" />
        <activity android:name=".mvp.ui.activity.MyAppUpdateActivity" />
        <activity android:name=".mvp.ui.activity.MyInfoActivity" />
        <activity android:name=".mvp.ui.activity.HelpActivityActivity" />
        <activity android:name=".mvp.ui.activity.HowToRealNameActivity" />
        <activity android:name=".mvp.ui.activity.FeedBackActivityActivity" />
        <activity android:name=".mvp.ui.activity.RealNameActivity" />
        <activity android:name=".mvp.ui.activity.PassWorldLoginActivity" />
        <activity android:name=".mvp.ui.activity.EnterpriseLoginActivity" />
        <activity android:name=".mvp.ui.activity.TradeDetailActivity" />
        <activity android:name=".mvp.ui.activity.ConcernActivity" />
        <activity android:name=".mvp.ui.activity.PraiseActivity" />
        <activity android:name=".mvp.ui.activity.CommentActivity" />
        <activity android:name=".mvp.ui.activity.ShareMeActivity" />
        <activity android:name=".mvp.ui.activity.MessageListActivity" />
        <activity android:name=".mvp.ui.activity.SearchActivity" />
        <activity android:name=".mvp.ui.activity.MyConcernActivity" />
        <activity android:name=".mvp.ui.activity.MyFansActivity" />
        <activity android:name=".mvp.ui.activity.MyCollectionActivity" />
        <activity android:name=".mvp.ui.activity.ChattingActivity" />
        <activity android:name=".mvp.ui.activity.PublishActivity" />
        <activity android:name=".mvp.ui.activity.ImageEditorActivity" />
        <activity android:name=".mvp.ui.activity.MediaPlayerActivity"

            >
            <!--  android:screenOrientation="sensor"
                        android:configChanges="orientation|keyboardHidden"-->

        </activity>
    </application>

</manifest>